/* game board table */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #e9e7fd;
}

h1 {
  color: #6e60ff;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e9e7fd;
  min-height: 20vh;
  gap: 1.5rem;
  max-width: 100%;
  text-transform: uppercase;
}

input {
  font-size: 0.875rem;
  padding: 0.2rem;
  width: 150px;
  border-radius: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
  border: 2px solid #ccc;
  text-transform: uppercase;
}

.child {
  display: flex;
  justify-content: center;
}

#board td {
  width: 60px;
  height: 60px;
  min-width: 55px;
  min-height: 55px;
  border: solid 2px #666;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.btn {
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.25rem;
  border: 1px solid #838383;
  background-color: lightgreen;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  transition: 3ms;
}

.btn:hover {
  cursor: pointer;
  background-color: #008a39;
  color: #fff;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2.5px lightgray;
}

#column-top td:hover {
  background-color: gold;
  cursor: pointer;
}
